/* src/components/ui/Countdown.module.css */
.countdown {
  font-weight: 500;
  white-space: nowrap; /* Prevent wrapping of time */
}

.due {
  color: var(--current-status-error-text); /* Use error text color for due */
  font-weight: bold;
}

.scheduledItalic { /* New style for scheduled buses in countdown mode */
  color: var(--current-on-surface-variant-color); /* Greyish text */
  font-style: italic;
}
